<div class="px-4 py-5 my-5 text-center">
  <div class="alert alert-success" role="alert">top tech Dijital Girişimcilik, tt Barn - İşinizi Kolaylaştıran Teknoloji</div>
      <img class="d-block mx-auto mb-4" src="images/onay-kutusu.svg" alt="" width="72" height="57">
      <h1 class="display-5 fw-bold">Biz kimiz?</h1>
  <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Firmamız yenilikçi yazılım çözümleri sağlayıcısıdır. Kendini yüksek kaliteli ürünler ve olağanüstü müşteri hizmetleri sunmaya adamış deneyimli profesyonellerden oluşan bir ekibimiz bulunmaktadır. Misyonumuz, müşterilerimizin faaliyetlerini kolaylaştırmalarına ve en son teknolojiyi kullanarak kârlılıklarını artırmalarına yardımcı olmaktır.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      </div>
  </div>
</div>
