<div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Bize Ulaşın</h1>
      <p style="text-align: left;" class="lead mb-4">Firmamız "top tech Dijital Girişimcilik, tt Barn" ticari unvanı ile faaliyet göstermekte olup Muğla, Türkiye'de yerleşiktir.</p>
      <p style="text-align: left;" class="lead mb-4"><strong>E-posta:</strong><br>
        <a href="mailto:destek@ttbarn.com.com">destek@ttbarn.com</a>
        </p>
        <p style="text-align: left;" class="lead mb-4"><strong>Telefon:</strong><br>
          <a href="tel:+902523350030">+90 252 335 00 30</a>
          </p>
          <p style="text-align: left;" class="lead mb-4"><strong>WhatsApp:</strong><br>
          <a href="https://wa.me/902523350030">+90 252 335 00 30</a>
          </p>
    </div>
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
        <img class="rounded-lg-3" src="images/iletisim.png" alt="" width="360">
    </div>
  </div>