<main>
<section style="margin-top: -100px;" class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Neler yapıyoruz?</h1>
        <p class="lead text-body-secondary">"top tech Dijital Girişimcilik, tt Barn" yazılım firması olarak müşterilerimize dijital anlamda duyabilecekleri ihtiyaçlar için çözümler üretmekteyiz.</p>
      </div>
    </div>
</section>

<div style="margin-top: -50px;" class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <div class="card">
              <img src="images/tt-lingua.jpg" class="card-img-top" alt="tt Lingua">
              <div class="card-body">
                <h5 class="card-title">tt Lingua</h5>
              </div>
            </div>
            <div class="card-body">
              <p class="card-text">tt Lingua, yabancı dil öğrencileri için tasarlanmış mobil uyumlu yenilikçi bir web uygulamasıdır. Uygulama, kullanıcıların her biri yabancı dil becerilerini geliştirmek ve genel öğrenme deneyimlerini iyileştirmek için tasarlanmış bir dizi alt ürüne tek hesap üzerinden erişmelerini sağlar.</p>  
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="card">
              <img src="images/web-sitesi-olusturma.jpg" class="card-img-top" alt="Web Sitesi Oluşturma">
              <div class="card-body">
                <h5 class="card-title">Web Sitesi Oluşturma</h5>
              </div>
            </div>
            <div class="card-body">
              <p class="card-text">Dijital dünyada var olmanız için güçlü bir çözüm sunuyoruz. İşletmeniz için web sitesi tasarımı konusunda, işletmenizin ihtiyaçlarına özel ve etkileyici bir web sitesi oluşturmak için buradayız.<br><br><br></p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="card">
              <img src="images/mobil-uygulama-olusturma.jpg" class="card-img-top" alt="Mobil Uygulama Oluşturma">
              <div class="card-body">
                <h5 class="card-title">Mobil Uygulama Oluşturma</h5>
              </div>
            </div>
            <div class="card-body">
              <p class="card-text">Dijital çağda öne çıkmanızı sağlamak için buradayız. İşletmeniz için özelleştirilmiş ve etkileyici mobil uygulama tasarımı konusunda, işletmenizin potansiyelini maksimum seviyeye çıkarmak için çözümler sunuyoruz.<br><br></p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <div class="card">
              <img src="images/sunucu-yonetimi.jpg" class="card-img-top" alt="Sunucu Yönetimi">
              <div class="card-body">
                <h5 class="card-title">Sunucu Yönetimi</h5>
              </div>
            </div>
            <div class="card-body">
              <p class="card-text">Verilerinizin güvende ve erişilebilir olmasını sağlamak için buradayız. Sunucu yönetimi konusunda, işletmenizin bilişim altyapısını sorunsuz bir şekilde yönetiyoruz. Siz işinizi büyütme ve stratejik hedeflerinize odaklanma konusunda rahatlayın, biz ise sunucu altyapınızın performansını optimize edelim, yedeklemelerinizi güvenli bir şekilde gerçekleştirelim ve sürekli izleme ile hızlı müdahale sağlayalım.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="card">
              <img src="images/seo.jpg" class="card-img-top" alt="SEO">
              <div class="card-body">
                <h5 class="card-title">SEO (Arama Motoru Optimizasyonu)</h5>
              </div>
            </div>
            <div class="card-body">
              <p class="card-text">Online varlığınızı güçlendirmek ve dijital dünyada öne çıkmak için SEO uzmanlığımızla buradayız. İnternetin devasa dünyasında, potansiyel müşterilerinizi etkilemek ve rakiplerinizin önüne geçmek için arama motorlarında üst sıralarda yer almanız önemlidir. Biz, SEO stratejileriyle işletmenizin web sitesini optimize ederek, organik aramalarda yüksek görünürlük elde etmenizi sağlıyoruz.</p>   
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="card">
              <img src="images/sosyal-medya-icerik-ureticiligi.jpg" class="card-img-top" alt="Sosyal Medya İçerik Üreticiliği">
              <div class="card-body">
                <h5 class="card-title">Sosyal Medya İçerik Üreticiliği</h5>
              </div>
            </div>
            <div class="card-body">
              <p class="card-text">Sosyal medya dünyasında sizi fark ettirmek ve kitlelere etkili bir şekilde ulaşmanızı sağlamak için içerik üretimi konusunda buradayız. Sizin markanızın değerini ve özgünlüğünü yansıtan, yaratıcı ve etkileyici içerikler oluşturarak sosyal medya platformlarında bir iz bırakmanızı hedefliyoruz. Müşterilerinizin ilgisini çekecek, etkileşim sağlayacak ve marka sadakatini artıracak içeriklerle sosyal medyada öne çıkın.</p>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

